@import './colors.scss';
.main-container {
  height: 100vh;
  display: flex;
}

.nav-container {
  -webkit-transition: opacity .25s, top .35s, height .35s, -webkit-transform .25s;
  -moz-transition: transform .25s, opacity .25s, top .35s, height .35s, -moz-transform .25s;
  -o-transition: opacity .25s, top .35s, height .35s, -o-transform .25s;
  transition: opacity .25s, top .35s, height .35s, -webkit-transform .25s;
  transition: transform .25s, opacity .25s, top .35s, height .35s;
  transition: transform .25s, opacity .25s, top .35s, height .35s, -webkit-transform .25s, -moz-transform .25s, -o-transform .25s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  color: white;
  width: 130px;
  height: 100%;
  /*  margin: .8rem;
 border-radius: .4rem; */
  & a {
    text-decoration: none;
    color: #bacfff;
    text-align: center;
    font-size: 18px;
    & i {
      font-size: 50px;
    }
    &.nav-container__link__active {
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}

.btn {
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  padding: 1em 5em;
  font-family: "basis-grotesque-medium";
  /* transition: border 0.3s linear; */
}

.btn:hover {
  cursor: pointer;
  border: 1px solid black;
}

.btn:focus {
  outline: none
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn[disabled]:hover {
  border: 1px solid white;
}

.content-container {
  margin: .9em;
  width: 100%;
  .control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    .btn-run {
      background-image: linear-gradient(to top, #1D976C 0%, rgb(85, 202, 128) 51%, #1D976C 100%);
    }
    .btn-stop {
      background-image: linear-gradient(to top, #EB3349 0%, #F45C43 51%, #EB3349 100%);
    }
    .btn-reload {
      background-image: linear-gradient(to bottom, #614385 0%, #516395 51%, #614385 100%)
    }
  }
  .connect-panel {
    display: flex;
    justify-content: space-around;
    .url-search-input {
      width: 60%;
      border-radius: 10px;
      border: 1px solid rgb(150, 150, 150);
    }
    .url-search-input:focus {
      border: 1px solid black;
      outline: none;
    }
    .btn {
      background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    }
    .btn:hover {
      background-position: top center;
      /* background: linear-gradient(to top, #00c6fb 50%, #005bea 100%); */
    }
  }
  .status-bar {
    margin: 15px;
  }
  .log-container {
    font-family: "gt-america-mono-regular";
    border: 1px solid black;
    border-radius: 10px;
    height: 60%;
    margin: 5% 15px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar-button {
      display: none;
      height: 13px;
      border-radius: 0px;
      background-color: #AAA;
    }
    &::-webkit-scrollbar-button:hover {
      background-color: #AAA;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000000;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #CCC;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    p {
      margin: 0.3em 10px;
      padding: 0;
      font-size: 0.6em;
    }
  }
}