.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .btn-run {
    background-image: linear-gradient(to top, #1D976C 0%, rgb(85, 202, 128) 51%, #1D976C 100%);
  }
  .btn-stop {
    background-image: linear-gradient(to top, #EB3349 0%, #F45C43 51%, #EB3349 100%);
  }
  .btn-reload {
    background-image: linear-gradient(to bottom, #614385 0%, #516395 51%, #614385 100%)
  }
}

.connect-panel {
  display: flex;
  justify-content: space-around;
  .url-search-input {
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
  }
  .url-search-input:focus {
    border: 1px solid black;
    outline: none;
  }
  .btn {
    background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  }
  .btn:hover {
    background-position: top center;
    /* background: linear-gradient(to top, #00c6fb 50%, #005bea 100%); */
  }
}

.status-bar {
  margin: 15px;
}

.log-container {
  font-family: "gt-america-mono-regular";
  border: 1px solid black;
  border-radius: 10px;
  height: 60%;
  margin: 5% 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0px;
    background-color: #AAA;
  }
  &::-webkit-scrollbar-button:hover {
    background-color: #AAA;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #CCC;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  p {
    margin: 0.3em 10px;
    padding: 0;
    font-size: 0.6em;
  }
}