@font-face {
  font-family: "basis-grotesque-medium";
  src: url('./fonts/basis-grotesque-medium.ttf')
}

@font-face {
  font-family: "gt-america-mono-regular";
  src: url('./fonts/GT-America-Mono-Regular.ttf')
}

body {
  margin: 0;
  padding: 0;
  font-family: gt-america-mono-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100vw;
  background-blend-mode: normal, color-burn;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}