.secret-content{
    & h4{
        text-align: center;
    }
    .btn {
        color: black;
        text-decoration: none;
        text-align: center;
    }
}
.enter-container {
    text-align: center;
}
.secrets-controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .btn {
        color: black;
        text-decoration: none;
        text-align: center;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.options-container input{
    width: 20px;
    height: 20px;
}
.enter-secret{
    text-align: center;
}
.secret-input{
    resize: none;
}
.share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal-btn{
    padding: 5px;
    color: black;
    text-align: center;
    width: 40px;
}