.wallet {
  border: 1px solid black;
  border-radius: 6px;
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-name {
    margin: 0;
    font-size: 1.2em;
  }
  &-address {
    opacity: 0.5;
  }
  &-amount-container {
    display: flex;
    align-items: center;
  }
  &-amount {
    margin: 0;
    vertical-align: middle;
    font-family: "basis-grotesque-medium";
    color: #005bea;
  }
  &-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &-btn {
    text-align: center;
    font-size: 0.75em;
    padding: 2px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to right, white 50%, #005bea 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.5s ease;
    text-decoration: none;
    color: black;
    &:hover {
      color: white;
      background-position: right bottom;
    }
  }
}

.wallets-controls .btn {
  text-align: center;
  color: black;
}